<html>

<head>
<link rel="stylesheet" type='text/css' href='stil2.css'>

<meta charset="utf-8">

<title> kviz iz nemščine</title>

</head>

<body class='praga2'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>



<div ng-app="">

<p class='vecje'>beseda : <input type="text" ng-model="ime" placeholder="napiši tukaj"></p>
<p> {{ime}} </p>
<p id="spremeni"> </p>
<!--x=document.getElementById("ime");-->
</div>
<img src='otok.jpg' width='250' height='250' border='2'>

<br>
<a href='kviz.html'><font class='v'> domov <font> </a>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jskviz.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>


</script>

</body>

</html>